@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Monoton&display=swap");

:root {
  /* default colors */

  --color-dark: #000000;
  --color-ash: #c1bfbf;
  --color-main: #ffffff;
  --color-sub: #f4f0e9;
  --color-back: #2f574d;
  --color-btn: #000000;
  --hover-hyper: #69cd52;

  /* text sizes */
  --pri-text: 1rem;
  --sec-text: 1.5rem;
  --pri-head: 2.5rem;
  --sec-head: 6rem;
  --ano-text: 1.2rem;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2vw;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.container header {
  padding: 3rem 5rem;
  background-image: url(./About/Hero\ Thumbnail.svg);
  background-size: cover;
  width: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-main);
  border-radius: 5rem;
  align-items: center;
  padding: 0.4rem 0.4rem 0.4rem 2rem;
  position: relative;
  z-index: 3;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  background-color: var(--color-dark);
  padding: 0.9rem 1.7rem;
  border-radius: 2.5rem;
}

nav .nav-links > li {
  position: relative;
}

.nav-links .drop-down > .down {
  display: none;
  position: absolute;
  top: 1.5rem;
}

.down .drop-box {
  background-color: var(--color-back);
  top: 100%;
  left: 0;
  min-width: 15rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drop-box a {
  white-space: nowrap;
}

.drop-down:hover .down {
  display: block;
}

.drop-down p {
  display: flex;
  align-items: center;
}

.drop-down p > i {
  color: var(--color-main);
  transition: all 0.5s ease;
  font-size: 1.5rem;
}

.drop-down p:hover i {
  transform: rotate(180deg);
  color: var(--hover-hyper);
}

nav .nav-links > li a {
  text-decoration: none;
  font-size: var(--pri-text);
  color: var(--color-main);
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

nav .nav-links > li a:hover {
  color: var(--hover-hyper);
}

nav .logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

nav .logo h2 {
  font-size: var(--sec-text);
  color: var(--color-text);
  font-family: "Monoton", sans-serif;
}

nav .btn-num {
  background-color: var(--color-btn);
  color: var(--color-main);
  border-radius: 2.5rem;
  padding: 0.9rem 1.7rem;
  border: none;
  font-size: var(--pri-text);
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

nav .btn-num:hover {
  background-color: var(--color-back);
  color: var(--color-main);
}

nav .burger {
  display: none;
  cursor: pointer;
}

/* Burger menu */
nav .burger {
  display: none;
  cursor: pointer;
}

nav .burger > div {
  width: 25px;
  height: 3px;
  background: var(--color-dark);
  margin: 5px;
  transition: all 0.3s ease;
}

header .hero-head {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  z-index: 2;
  position: relative;
}

header .hero-head > .first-hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-head .first-hero > h2 {
  font-size: var(--sec-head);
  color: var(--color-main);
  line-height: 6rem;
}

.hero-head .first-hero > p {
  font-size: var(--sec-text);
  color: var(--color-main);
  text-transform: uppercase;
  font-weight: 600;
}

main #dream {
  padding: 7rem 5rem;
  display: flex;
  gap: 5rem;
  align-items: center;
}

#dream img.gallery {
  width: 50%;
}

#dream .dream-flex {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#dream .dream-flex > .dream-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dream-row > .since {
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

.dream-row > h2 {
  font-size: var(--pri-head);
  color: var(--color-dark);
  line-height: 3rem;
}

.dream-row > p {
  font-size: var(--ano-text);
  color: #616161;
}

.dream-flex .dream-box {
  background-color: #f4f0e9;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dream-box p {
  font-size: var(--ano-text);
}

.dream-box .profile {
  display: flex;
  gap: 1rem;
}

.dream-box .profile > img {
  width: 3rem;
}

.dream-box .profile > .prof-text h4 {
  font-size: var(--pri-text);
  font-weight: 600;
}

.dream-box .profile > .prof-text p {
  font-size: var(--pri-text);
  color: #616161;
}

main #career {
  padding: 7rem 5rem;
  background-color: var(--color-back);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#career .career-head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#career .career-head > .quality {
  border: 2px solid var(--color-ash);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-main);
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

#career .career-head > h2 {
  font-size: var(--pri-head);
  color: var(--color-main);
  line-height: 3rem;
  text-align: center;
}

#career .career-flex {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

.career-flex .journey-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.journey-flex .journey-box {
  display: flex;
  gap: 1.5rem;
  background-color: #376459;
  border: 1.5px solid #467569;
  padding: 2rem;
  align-items: center;
}

.journey-box .journey-text > h3 {
  font-size: var(--sec-text);
  color: var(--color-main);
}

.journey-box .journey-text > p {
  font-size: var(--ano-text);
  color: var(--color-ash);
}

.journey-box h1 {
  font-size: 3.6rem;
  font-weight: 600;
  color: #c3f499;
}

.career-flex img {
  width: 50%;
}

main #team {
  background-color: var(--color-main);
  padding: 7rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#team .team-first {
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

#team .team-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-head h2 {
  font-size: var(--pri-head);
  color: var(--color-dark);
  line-height: 3rem;
  width: 35rem;
}

.team-head .get-btn {
  font-size: var(--pri-text);
  text-transform: uppercase;
  padding: 1rem 4rem;
  font-weight: 600;
  border: none;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  transition: all 0.5s ease;
  background: var(--color-back);
  color: var(--color-main);
  width: fit-content;
}

.team-head .get-btn:hover {
  background: transparent;
  color: var(--color-dark);
  border: 2px solid #000000;
}

.team-head .get-btn > i {
  font-size: 2rem;
}

#team .team-flex {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 4rem;
}

.team-flex .all-team {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.team-flex .all-team > .img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.all-team .team-text > h3 {
  font-size: var(--sec-text);
}

.all-team .team-text > p {
  font-size: var(--ano-text);
  color: #616161;
}

.all-team:hover img {
  transform: scale(1.1);
}

.all-team:hover .team-text > h3 {
  color: var(--color-back);
}

main #about {
  background-color: var(--color-sub);
  padding: 7rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

main #about > .grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 7rem;
}

#about .grid-box > .one {
  grid-row: span 2;
  position: relative;
}

.grid-box .one img {
  width: 100%;
  height: auto;
}

#about .grid-box > .two {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid-box .two > div {
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  display: inline;
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

.grid-box .two > h2 {
  font-size: var(--pri-head);
  color: var(--color-dark);
  line-height: 3rem;
}

.grid-box .two > p {
  font-size: var(--ano-text);
  color: #616161;
}

#about .grid-box > .three {
  grid-row: span 2;
  position: relative;
}

.grid-box .three img {
  width: 100%;
  height: auto;
}

#about .grid-box > .four {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.grid-box .four > .side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.four .side > h1 {
  font-size: 4rem;
  color: var(--color-dark);
}

.four .side > p {
  font-size: var(--ano-text);
  color: #616161;
}

.four .side > .range {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.side .range > .light {
  background-color: var(--color-dark);
  width: 92%;
  height: 0.1rem;
}

.side .range > .dark {
  background-color: var(--color-ash);
  width: 8%;
  height: 0.1rem;
}

.sec .range > .light {
  background-color: var(--color-dark);
  width: 25%;
  height: 0.1rem;
}

.sec .range > .dark {
  background-color: var(--color-ash);
  width: 75%;
  height: 0.1rem;
}

main #job {
  padding: 7rem 5rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

#job .job-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#job .job-text > .join {
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

#job .job-text > h2 {
  font-size: var(--pri-head);
  color: var(--color-dark);
  line-height: 3rem;
}

#job .job-text > p {
  font-size: var(--ano-text);
  color: #616161;
}

#job .job-text > .apply-btn {
  font-size: var(--pri-text);
  text-transform: uppercase;
  padding: 1rem 4rem;
  font-weight: 600;
  border: none;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  transition: all 0.5s ease;
  background: var(--color-back);
  color: var(--color-main);
  width: fit-content;
}

#job .job-text > .apply-btn:hover {
  background: transparent;
  color: var(--color-dark);
  border: 2px solid #000000;
}

.job-text .apply-btn > i {
  font-size: 2rem;
}

#job .job-flex {
  display: flex;
  flex-direction: column;
}

#job .job-flex > a {
  color: var(--color-dark);
  text-decoration: none;
}

.job-flex a > .job-box {
  display: flex;
  align-items: center;
  gap: 6rem;
  border-bottom: 1.5px solid #c1bfbf;
  padding: 2rem 0;
  transition: all 0.5s ease;
  justify-content: space-between;
}

.job-flex a > .job-box:hover {
  border-bottom: 1.5px solid #000000;
}

.job-box .first-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.first-box p {
  text-transform: uppercase;
  color: #616161;
  font-size: var(--pri-text);
  font-weight: 500;
}

.first-box h4 {
  font-size: 1.5rem;
}

.job-box .second-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.second-box p {
  text-transform: uppercase;
  color: #616161;
  font-size: var(--pri-text);
  font-weight: 500;
}

.second-box .wage {
  font-weight: 600;
  background-color: #c3f499;
  padding: 0.3rem;
}

.container .linee-through {
  border-bottom: 1.5px solid #c1bfbf;
  margin: 0 5rem;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 7rem 5rem 3rem;
  background-color: var(--color-main);
  background-image: url(./main/Shape\ Footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

footer .foot-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.foot-flex h2 {
  font-size: var(--sec-text);
  font-family: "Monoton", sans-serif;
}

.foot-flex h1 {
  font-size: var(--pri-head);
}

.foot-flex form {
  display: flex;
  gap: 0.5rem;
}

form input {
  padding: 0.8rem 6rem 0.8rem 1.5rem;
  border: 2px solid #c1bfbf;
  border-radius: 1.5rem;
}

form input::placeholder {
  font-size: 0.9rem;
}

form button.subscribe {
  border: none;
  padding: 0.8rem 2.5rem;
  border-radius: 1.5rem;
  background-color: var(--color-btn);
  color: var(--color-main);
  font-size: 1rem;
  cursor: pointer;
}

footer .all-flex {
  display: flex;
  gap: 5rem;
  margin-bottom: 4rem;
}

footer .all-flex > .news-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.news-flex h2 {
  font-size: var(--pri-head);
  width: 35rem;
}

.news-flex .founder {
  display: flex;
  gap: 1rem;
}

.news-flex .founder > img {
  width: 3rem;
}

.news-flex .founder > .found-text {
  display: flex;
  flex-direction: column;
}

.founder .found-text > h4 {
  font-size: var(--sec-text);
  color: var(--color-dark);
}

.founder .found-text > p {
  font-size: var(--pri-text);
  color: #616161;
}

.news-flex .hyper-foot {
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
}

.news-flex .hyper-foot > a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark);
  font-size: var(--pri-text);
  font-weight: 500;
}

footer .all-flex > img {
  width: 32rem;
  height: auto;
}

footer .line-through {
  border: 1.5px solid #e4e3e3;
  margin-bottom: 1rem;
}

footer .last-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .last-foot > p {
  text-transform: uppercase;
  font-weight: 500;
  color: #616161;
}

.last-foot p > span {
  font-weight: 600;
  color: var(--color-dark);
}

footer .last-foot > .social-icon {
  display: flex;
  gap: 2rem;
}

.last-foot .social-icon > a {
  color: var(--color-dark);
  font-size: 1.5rem;
}

/* Tablet Breakpoint */

@media (min-width: 577px) and (max-width: 1000px) {
  html {
    font-size: 2vw;
  }

  .container header {
    padding: 3rem 2rem 8rem;
    gap: 5rem;
  }

  nav .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    max-height: 0;
    background: var(--color-dark);
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
    transition: max-height 0.4s ease-in-out;
    z-index: 1;
  }

  nav .nav-links.open {
    display: flex;
    max-height: 15rem;
  }

  nav .burger {
    display: block;
    transition: transform 0.3s ease;
  }

  /* Burger animation */
  nav .burger.toggle > .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  nav .burger.toggle > .line2 {
    opacity: 0;
  }

  nav .burger.toggle > .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links .drop-down {
    position: relative;
  }

  .drop-down .down {
    position: absolute;
    z-index: 2;
  }

  .down .drop-box {
    border-radius: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  header .hero-head > .first-hero {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .hero-head .first-hero > h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .hero-head .first-hero > p {
    font-size: 1.3rem;
  }

  header .hero-head {
    gap: 3rem;
  }

  main #dream {
    padding: 3rem 2rem;
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  #dream img.gallery {
    width: 100%;
  }

  main #career {
    padding: 3rem 2rem;
    background-color: var(--color-back);
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  #career .career-flex {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .career-flex img {
    width: 100%;
  }

  main #team {
    padding: 3rem 2rem;
  }

  #team .team-head {
    display: flex;
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
    gap: 1.5rem;
  }

  .team-head h2 {
    font-size: var(--pri-head);
    color: var(--color-dark);
    line-height: 3rem;
    width: 100%;
  }

  #team .team-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  team-flex .all-team {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  main #about {
    background-color: var(--color-sub);
    padding: 3rem 2rem;
  }

  main #about > .grid-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 7rem;
  }

  #about .grid-box > .four {
    grid-row-start: 4;
  }

  main #job {
    padding: 3rem 2rem;
    display: flex;
    justify-content: unset;
    flex-direction: column;
    gap: 3rem;
  }

  #job .job-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #job .job-text > .apply-btn {
    margin-top: 1rem;
  }

  .container .linee-through {
    display: none;
  }

  footer {
    padding: 3rem 2rem;
  }

  footer .foot-flex {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 1rem;
  }

  footer .all-flex {
    flex-direction: column;
  }

  footer .all-flex > .news-flex {
    gap: 3rem;
  }

  footer .all-flex > img {
    width: 100%;
    height: auto;
  }

  .news-flex h2 {
    width: 100%;
  }

  .news-flex .hyper-foot {
    position: unset;
    bottom: unset;
  }
}

/* Phone breakpoint */

@media (max-width: 576px) {
  html {
    font-size: 3vw;
  }

  .container header {
    padding: 3rem 2rem 8rem;
    gap: 4rem;
  }

  header nav {
    padding: 0.4rem 2rem;
  }

  nav .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    max-height: 0;
    background: var(--color-dark);
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
    z-index: 1;
    transition: max-height 0.4s ease-in-out;
  }

  .down .drop-box {
    border-radius: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav .nav-links.open {
    display: flex;
    max-height: 15rem;
  }

  nav .btn-num {
    display: none;
  }

  nav .burger {
    display: block;
    transition: transform 0.3s ease;
  }

  /* Burger animation */
  nav .burger.toggle > .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  nav .burger.toggle > .line2 {
    opacity: 0;
  }

  nav .burger.toggle > .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links .drop-down {
    position: relative;
  }

  .drop-down .down {
    position: absolute;
    z-index: 2;
  }

  .down .drop-box {
    border-radius: 1rem;
  }

  header .hero-head > .first-hero {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .hero-head .first-hero > h2 {
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
  }

  .hero-head .first-hero > p {
    font-size: 1rem;
    text-align: center;
  }

  header .hero-head {
    gap: 2rem;
  }

  main #dream {
    padding: 3rem 2rem;
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  #dream img.gallery {
    width: 100%;
  }

  main #career {
    padding: 3rem 2rem;
    background-color: var(--color-back);
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  #career .career-flex {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .career-flex img {
    width: 100%;
  }

  main #team {
    padding: 3rem 2rem;
  }

  #team .team-head {
    display: flex;
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
    gap: 1.5rem;
  }

  .team-head h2 {
    font-size: var(--pri-head);
    color: var(--color-dark);
    line-height: 3rem;
    width: 100%;
  }

  #team .team-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  team-flex .all-team {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  main #about {
    background-color: var(--color-sub);
    padding: 3rem 2rem;
  }

  main #about > .grid-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 7rem;
  }

  #about .grid-box > .four {
    grid-row-start: 4;
  }

  .four .side > p.cut {
    font-size: var(--ano-text);
    color: #616161;
    width: 80%;
  }

  main #job {
    padding: 3rem 2rem;
    display: flex;
    justify-content: unset;
    flex-direction: column;
    gap: 3rem;
  }

  #job .job-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #job .job-text > .apply-btn {
    margin-top: 1rem;
  }

  .container .linee-through {
    display: none;
  }

  footer {
    padding: 3rem 2rem;
  }

  footer .foot-flex {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 1rem;
  }

  footer .all-flex {
    flex-direction: column;
  }

  footer .all-flex > .news-flex {
    gap: 3rem;
  }

  footer .all-flex > img {
    width: 100%;
    height: auto;
  }

  .news-flex h2 {
    width: 100%;
    font-size: 1.9rem;
  }

  .news-flex .hyper-foot {
    position: unset;
    bottom: unset;
  }

  footer .last-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
