@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Monoton&display=swap");

:root {
  /* default colors */

  --color-dark: #000000;
  --color-ash: #c1bfbf;
  --color-main: #ffffff;
  --color-sub: #f4f0e9;
  --color-back: #2f574d;
  --color-btn: #000000;
  --hover-hyper: #69cd52;

  /* text sizes */
  --pri-text: 1rem;
  --sec-text: 1.5rem;
  --pri-head: 2.5rem;
  --sec-head: 6rem;
  --ano-text: 1.2rem;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2vw;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.container header {
  padding: 3rem 5rem;
  background-image: url(./main/Section.svg);
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-main);
  border-radius: 5rem;
  align-items: center;
  padding: 0.4rem 0.4rem 0.4rem 2rem;
  position: relative;
  z-index: 3;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  background-color: var(--color-dark);
  padding: 0.9rem 1.7rem;
  border-radius: 2.5rem;
}

nav .nav-links > li {
  position: relative;
}

.nav-links .drop-down > .down {
  display: none;
  position: absolute;
  top: 1.5rem;
}

.down .drop-box {
  background-color: var(--color-back);
  top: 100%;
  left: 0;
  min-width: 15rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drop-box a {
  white-space: nowrap;
}

.drop-down:hover .down {
  display: block;
}

.drop-down p {
  display: flex;
  align-items: center;
}

.drop-down p > i {
  color: var(--color-main);
  transition: all 0.5s ease;
  font-size: 1.5rem;
}

.drop-down p:hover i {
  transform: rotate(180deg);
  color: var(--hover-hyper);
}

nav .nav-links > li a {
  text-decoration: none;
  font-size: var(--pri-text);
  color: var(--color-main);
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

nav .nav-links > li a:hover {
  color: var(--hover-hyper);
}

nav .logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

nav .logo h2 {
  font-size: var(--sec-text);
  color: var(--color-text);
  font-family: "Monoton", sans-serif;
}

nav .btn-num {
  background-color: var(--color-btn);
  color: var(--color-main);
  border-radius: 2.5rem;
  padding: 0.9rem 1.7rem;
  border: none;
  font-size: var(--pri-text);
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

nav .btn-num:hover {
  background-color: var(--color-back);
  color: var(--color-main);
}

nav .burger {
  display: none;
  cursor: pointer;
}

/* Burger menu */
nav .burger {
  display: none;
  cursor: pointer;
}

nav .burger > div {
  width: 25px;
  height: 3px;
  background: var(--color-dark);
  margin: 5px;
  transition: all 0.3s ease;
}

header .hero-head {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  z-index: 2;
  position: relative;
}

header .hero-head > .first-hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.hero-head .first-hero > h2 {
  font-size: var(--sec-head);
  color: var(--color-main);
  text-align: center;
  line-height: 6rem;
}

.first-hero .objective {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.first-hero .objective > p {
  font-size: var(--pri-head);
  color: var(--color-main);
  text-align: center;
}

.first-hero .objective > .apply-btn {
  font-size: var(--pri-text);
  text-transform: uppercase;
  color: var(--color-back);
  padding: 1rem 4rem;
  font-weight: 600;
  border: none;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  transition: all 0.5s ease;
}

.first-hero .objective > .apply-btn:hover {
  color: var(--color-main);
  background-color: var(--color-back);
}

.first-hero .objective > .apply-btn > i {
  font-size: 2rem;
}

.hero-head .text-slider {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.hero-head .text-slider > h1 {
  font-size: 8rem;
  color: var(--color-main);
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 10s linear infinite;
}

/* Keyframes for scrolling effect */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

main #about {
  background-color: var(--color-back);
  padding: 7rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

main #about > .grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 7rem;
}

#about .grid-box > .one {
  grid-row: span 2;
  position: relative;
}

.grid-box .one img:first-child {
  width: 100%;
  height: auto;
}

.grid-box .one > img:nth-child(2) {
  position: absolute;
  left: 3%;
  top: 1rem;
  width: 5rem;
  height: auto;
}

.grid-box .one > img:nth-child(3) {
  position: absolute;
  left: 12%;
  top: 1rem;
  width: 5rem;
  height: auto;
}

#about .grid-box > .two {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid-box .two > div {
  border: 2px solid var(--color-ash);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-main);
  display: inline;
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

.grid-box .two > h2 {
  font-size: var(--pri-head);
  color: var(--color-main);
  line-height: 3rem;
}

.grid-box .two > p {
  font-size: var(--ano-text);
  color: var(--color-ash);
}

#about .grid-box > .three {
  grid-row: span 2;
  position: relative;
}

.grid-box .three img:first-child {
  width: 100%;
  height: auto;
}

.grid-box .three > .rating {
  display: flex;
  position: absolute;
  gap: 1rem;
  background-color: #0000002c;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
  padding: 0.3rem 0.5rem;
  top: 80%;
  left: 5%;
  border: 0.5px solid #5b59598d;
}

.rating .image-rate > img {
  width: 50%;
}

.rating .text-rate > h4 {
  color: var(--color-main);
  font-weight: 500;
  font-size: var(--pri-text);
}

.rating .text-rate > p {
  color: var(--color-ash);
  font-size: var(--pri-text);
}

#about .grid-box > .four {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.grid-box .four > .side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.four .side > h1 {
  font-size: 4rem;
  color: var(--color-main);
}

.four .side > p {
  font-size: var(--ano-text);
  color: var(--color-ash);
}

.four .side > .range {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.side .range > .light {
  background-color: var(--color-main);
  width: 92%;
  height: 0.1rem;
}

.side .range > .dark {
  background-color: var(--color-ash);
  width: 8%;
  height: 0.1rem;
}

.sec .range > .light {
  background-color: var(--color-main);
  width: 25%;
  height: 0.1rem;
}

.sec .range > .dark {
  background-color: var(--color-ash);
  width: 75%;
  height: 0.1rem;
}

#about .ipsum-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;
}

#about .ipsum-logo > img {
  width: 10rem;
  height: auto;
}

#about .ipsum-logo > img:nth-child(3) {
  width: 7rem;
}

#about .ipsum-logo > img:nth-child(4) {
  width: 7rem;
}

main #area {
  padding: 7rem 5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-sub);
  gap: 1rem;
}

#area div.study {
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

#area .advance-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#area .advance-flex > h2 {
  font-size: var(--pri-head);
  color: var(--color-dark);
  line-height: 3rem;
}

#area .advance-flex > .apply-btn {
  font-size: var(--pri-text);
  text-transform: uppercase;
  color: var(--color-main);
  padding: 1rem 4rem;
  font-weight: 600;
  border: none;
  display: flex;
  background-color: var(--color-back);
  border-radius: 2rem;
  align-items: center;
  transition: all 0.5s ease;
}

#area .advance-flex > .apply-btn:hover {
  color: var(--color-dark);
  background-color: transparent;
  border: 2px solid #000000;
}

#area .advance-flex > .apply-btn > i {
  font-size: 2rem;
}

#area .career-flex {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

#area .career-flex > div {
  background-color: var(--color-main);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.career-flex div > img {
  width: 100%;
}

.career-flex div > .career-info {
  background-color: var(--color-main);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.career-info h3 {
  font-size: 1.6rem;
}

.career-info p {
  font-size: var(--pri-text);
  color: #616161;
}

.career-info .lesson-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-flex .lesson {
  display: flex;
  gap: 1rem;
}

.lesson-flex .lesson > img {
  width: 3rem;
}

.lesson .less-name > h4 {
  font-size: var(--pri-text);
}

.lesson .less-name > p {
  font-size: var(--pri-text);
  color: #616161;
}

.career-info .lesson-flex > i {
  color: var(--color-dark);
  font-size: 3rem;
  padding: 0.2rem;
  border: 1.5px solid var(--hover-hyper);
  border-radius: 50%;
  transition: all 0.5s ease;
}

.career-info .lesson-flex > i:hover {
  color: var(--color-main);
  background-color: var(--hover-hyper);
}

main #choose {
  padding: 7rem 5rem;
  background-color: var(--color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

#choose .grid-boxs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
}

.grid-boxs div > img {
  width: 100%;
}

.grid-boxs div:first-child {
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-boxs div:nth-child(2) {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: end;
}

.grid-boxs div:last-child {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

#choose .choose-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#choose .choose-text > .why {
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

#choose .choose-text > h2 {
  font-size: var(--pri-head);
  color: var(--color-dark);
  line-height: 3rem;
  width: 30rem;
}

#choose .choose-text > p {
  font-size: var(--ano-text);
  color: #616161;
  width: 30rem;
}

.choose-text .teach {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #dbdada;
}

.choose-text .teach > p {
  font-size: var(--ano-text);
  color: var(--color-back);
  font-weight: 600;
}

.choose-text .teach > i {
  font-size: var(--ano-text);
  color: var(--color-back);
  font-weight: 600;
}

#choose .choose-text > .apply-btn {
  font-size: var(--pri-text);
  text-transform: uppercase;
  padding: 1rem 4rem;
  font-weight: 600;
  border: none;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  transition: all 0.5s ease;
  background: var(--color-back);
  color: var(--color-main);
  width: fit-content;
}

#choose .choose-text > .apply-btn:hover {
  background: transparent;
  color: var(--color-dark);
  border: 2px solid #000000;
}

#choose .choose-text > .apply-btn i {
  font-size: 2rem;
}

main #testimonials {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  background-color: var(--color-sub);
  padding: 7rem 5rem;
}

#testimonials #testimonial-flex {
  display: flex;
  justify-content: space-between;
}

#testimonial-flex .exclusive {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.exclusive div.test {
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

.exclusive h2 {
  font-size: var(--pri-head);
  color: var(--color-dark);
  line-height: 3rem;
  width: 30rem;
}

.exclusive button {
  font-size: var(--pri-text);
  text-transform: uppercase;
  padding: 1rem 4rem;
  font-weight: 600;
  border: none;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  transition: all 0.5s ease;
  background: var(--color-back);
  color: var(--color-main);
  width: fit-content;
  margin-top: 2rem;
}

.exclusive button:hover {
  background: transparent;
  color: var(--color-dark);
  border: 2px solid #000000;
}

.exclusive button > i {
  font-size: 2rem;
}

.exclusive .move-icon {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}

.exclusive .move-icon > .bx {
  font-size: 3rem;
  color: var(--color-dark);
  background-color: var(--color-main);
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.exclusive .move-icon > .bx:hover {
  color: var(--color-main);
  background-color: var(--color-back);
}

.testimoney {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.testimonial-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.testimonial {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonial h4 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-back);
  text-transform: capitalize;
}

.testimonial p {
  font-size: var(--sec-text);
  font-weight: 500;
  color: var(--color-dark);
}

.testimonial .student {
  display: flex;
  gap: 1rem;
}

.testimonial .student > img {
  width: 3rem;
}

.student .student-info > h4 {
  font-size: var(--sec-text);
  color: var(--color-dark);
}

.student .student-info > p {
  font-size: var(--pri-text);
  color: #616161;
}

#testimonials .contact {
  display: flex;
  justify-content: center;
  background-color: var(--color-main);
  position: relative;
  padding: 3rem 2rem 0;
}

#testimonials .contact > img:nth-child(1) {
  width: 32%;
  align-self: baseline;
}

#testimonials .contact > img:nth-child(3) {
  width: 30%;
  align-self: baseline;
}

.contact .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-self: center;
}

.contact .contact-info > .tour {
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 0.5rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

.contact .contact-info > .rolls {
  position: absolute;
  top: -12%;
  width: 10rem;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.contact .contact-info > h2 {
  font-size: var(--pri-head);
  color: var(--color-dark);
  line-height: 2.5rem;
  width: 30rem;
  text-align: center;
}

.contact .contact-info > .contact-btn {
  font-size: var(--pri-text);
  text-transform: uppercase;
  padding: 1rem 4rem;
  font-weight: 600;
  border: none;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  transition: all 0.5s ease;
  background: var(--color-back);
  color: var(--color-main);
  width: fit-content;
}

.contact .contact-info > .contact-btn:hover {
  background: transparent;
  color: var(--color-dark);
  border: 2px solid #000000;
}

.contact-info .contact-btn > i {
  font-size: 2rem;
}

main #question {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 7rem 5rem;
}

#question .faq-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#question .faq-info > .fact {
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
}

#question .faq-info > h2 {
  font-size: var(--pri-head);
  color: var(--color-dark);
  line-height: 2.7rem;
  margin-bottom: 2rem;
  text-align: center;
}

#question .question {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
}

.question .quest-flex {
  width: 100%;
}

.question .quest-flex > img {
  width: 100%;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq .faq-item {
  max-width: 100%;
  border: none;
  border-bottom: 1.5px solid #e4e3e3;
  padding: 1rem;
}

.faq .faq-item > .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text);
}

.faq-icon {
  transition: transform 0.3s ease;
  font-size: 1.5rem;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0;
  color: #616161;
  font-size: 1.2rem;
}

.faq-item.active .faq-answer {
  max-height: 20rem;
  padding: 2rem 0 0;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg); /* Arrow flips */
}

main #insight {
  background-color: var(--color-sub);
  padding: 7rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#insight .blog-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-head .blog-info > .blog {
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 1rem 2rem;
  width: fit-content;
  font-size: var(--pri-text);
  font-weight: 500;
  margin-bottom: 1rem;
}

.blog-head .blog-info > h2 {
  font-size: var(--pri-head);
  color: var(--color-dark);
  line-height: 2.7rem;
}

.blog-head .more-btn {
  font-size: var(--pri-text);
  text-transform: uppercase;
  padding: 1rem 4rem;
  font-weight: 600;
  border: none;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  transition: all 0.5s ease;
  background: var(--color-back);
  color: var(--color-main);
  width: fit-content;
  align-self: flex-end;
}

.blog-head .more-btn:hover {
  background: transparent;
  color: var(--color-dark);
  border: 2px solid #000000;
}

.blog-head .more-btn > i {
  font-size: 2rem;
}

section#insights .blog-read {
  display: flex;
  flex-direction: column;
}

.blog-read a > .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  border: 1.5px solid var(--color-ash);
  border-left: none;
  border-right: none;
}

.blog-read a {
  text-decoration: none;
  color: var(--color-dark);
}

.blog-read a:hover {
  color: var(--color-main);
}

.blog-read a:hover .details {
  background-color: var(--color-back);
  transition: all 0.5s ease;
}

a .details > p {
  font-size: var(--pri-text);
  font-weight: 500;
}

a .details > h3 {
  font-size: 1.6rem;
  width: 35rem;
}

a .details > .bxr {
  font-size: 2rem;
  color: var(--color-dark);
  background-color: var(--color-main);
  padding: 1rem;
  border-radius: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 7rem 5rem 3rem;
  background-color: var(--color-main);
  background-image: url(./main/Shape\ Footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

footer .foot-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.foot-flex h2 {
  font-size: var(--sec-text);
  font-family: "Monoton", sans-serif;
}

.foot-flex h1 {
  font-size: var(--pri-head);
}

.foot-flex form {
  display: flex;
  gap: 0.5rem;
}

form input {
  padding: 0.8rem 6rem 0.8rem 1.5rem;
  border: 2px solid #c1bfbf;
  border-radius: 1.5rem;
}

form input::placeholder {
  font-size: 0.9rem;
}

form button.subscribe {
  border: none;
  padding: 0.8rem 2.5rem;
  border-radius: 1.5rem;
  background-color: var(--color-btn);
  color: var(--color-main);
  font-size: 1rem;
  cursor: pointer;
}

footer .all-flex {
  display: flex;
  gap: 5rem;
  margin-bottom: 4rem;
}

footer .all-flex > .news-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.news-flex h2 {
  font-size: var(--pri-head);
  width: 35rem;
}

.news-flex .founder {
  display: flex;
  gap: 1rem;
}

.news-flex .founder > img {
  width: 3rem;
}

.news-flex .founder > .found-text {
  display: flex;
  flex-direction: column;
}

.founder .found-text > h4 {
  font-size: var(--sec-text);
  color: var(--color-dark);
}

.founder .found-text > p {
  font-size: var(--pri-text);
  color: #616161;
}

.news-flex .hyper-foot {
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
}

.news-flex .hyper-foot > a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark);
  font-size: var(--pri-text);
  font-weight: 500;
}

footer .all-flex > img {
  width: 32rem;
  height: auto;
}

footer .line-through {
  border: 1.5px solid #e4e3e3;
  margin-bottom: 1rem;
}

footer .last-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .last-foot > p {
  text-transform: uppercase;
  font-weight: 500;
  color: #616161;
}

.last-foot p > span {
  font-weight: 600;
  color: var(--color-dark);
}

footer .last-foot > .social-icon {
  display: flex;
  gap: 2rem;
}

.last-foot .social-icon > a {
  color: var(--color-dark);
  font-size: 1.5rem;
}

/* Tablet Breakpoint */

@media (min-width: 577px) and (max-width: 1000px) {
  html {
    font-size: 2vw;
  }

  .container header {
    padding: 3rem 2rem;
    gap: 5rem;
  }

  nav .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    max-height: 0;
    background: var(--color-dark);
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
    transition: max-height 0.4s ease-in-out;
    z-index: 1;
  }

  nav .nav-links.open {
    display: flex;
    max-height: 15rem;
  }

  nav .burger {
    display: block;
    transition: transform 0.3s ease;
  }

  /* Burger animation */
  nav .burger.toggle > .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  nav .burger.toggle > .line2 {
    opacity: 0;
  }

  nav .burger.toggle > .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links .drop-down {
    position: relative;
  }

  .drop-down .down {
    position: absolute;
    z-index: 2;
  }

  .down .drop-box {
    border-radius: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hero-head .first-hero > h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .first-hero .objective > p {
    text-align: center;
    font-size: 1.5rem;
  }

  header .hero-head {
    gap: 3rem;
  }

  header .hero-head > .first-hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .hero-head .text-slider > h1 {
    font-size: 5rem;
  }

  main #about {
    background-color: var(--color-back);
    padding: 3rem 2rem;
  }

  main #about > .grid-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 7rem;
  }

  #about .grid-box > .four {
    grid-row-start: 4;
  }

  #about .ipsum-logo {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }

  main #area {
    padding: 3rem 2rem;
    gap: 1rem;
  }

  #area .advance-flex {
    flex-direction: column;
    gap: 2rem;
  }

  #area .advance-flex > .apply-btn {
    width: fit-content;
  }

  #area .career-flex {
    flex-wrap: wrap;
  }

  main #choose {
    padding: 3rem 2rem;
    background-color: var(--color-main);
    display: flex;
    flex-direction: column-reverse;
    align-items: unset;
    gap: 3rem;
  }

  #choose .choose-text > h2 {
    width: 100%;
  }

  #choose .choose-text > p {
    width: 100%;
  }

  main #testimonials {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    background-color: var(--color-sub);
    padding: 3rem 2rem;
  }

  #testimonials #testimonial-flex {
    display: flex;
    justify-content: unset;
    flex-direction: column;
    gap: 3rem;
  }

  .exclusive h2 {
    width: 100%;
  }

  .exclusive button {
    margin-top: 1rem;
  }

  .exclusive .move-icon {
    margin-top: 1rem;
  }

  #testimonials .contact > img {
    display: none;
  }

  #testimonials .contact {
    padding: 6rem 4rem 4rem;
  }

  .contact .contact-info > .rolls {
    position: absolute;
    top: -17%;
    width: 9rem;
    animation: rotate 10s linear infinite;
  }

  main #question {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
  }

  #question .faq-info {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    gap: 1rem;
  }

  #question .faq-info > h2 {
    text-align: left;
  }

  #question .question {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .question .quest-flex {
    width: 100%;
  }

  .question .quest-flex > img {
    width: 100%;
  }

  main #insight {
    background-color: var(--color-sub);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #insight .blog-head {
    display: flex;
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
    gap: 2rem;
  }

  .blog-head .more-btn {
    align-self: center;
  }

  .blog-read a > .details {
    justify-content: unset;
    flex-direction: column;
    gap: 1rem;
  }

  a .details > h3 {
    text-align: center;
    width: 100%;
  }

  footer {
    padding: 3rem 2rem;
  }

  footer .foot-flex {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 1rem;
  }

  footer .all-flex {
    flex-direction: column;
  }

  footer .all-flex > .news-flex {
    gap: 3rem;
  }

  footer .all-flex > img {
    width: 100%;
    height: auto;
  }

  .news-flex h2 {
    width: 100%;
  }

  .news-flex .hyper-foot {
    position: unset;
    bottom: unset;
  }
}

/* Phone breakpoint */

@media (max-width: 576px) {
  html {
    font-size: 3vw;
  }

  .container header {
    padding: 3rem 2rem 3rem;
    gap: 3rem;
  }

  header nav {
    padding: 0.4rem 2rem;
  }

  nav .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    max-height: 0;
    background: var(--color-dark);
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
    z-index: 1;
    transition: max-height 0.4s ease-in-out;
  }

  .down .drop-box {
    border-radius: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav .nav-links.open {
    display: flex;
    max-height: 15rem;
  }

  nav .btn-num {
    display: none;
  }

  nav .burger {
    display: block;
    transition: transform 0.3s ease;
  }

  /* Burger animation */
  nav .burger.toggle > .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  nav .burger.toggle > .line2 {
    opacity: 0;
  }

  nav .burger.toggle > .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links .drop-down {
    position: relative;
  }

  .drop-down .down {
    position: absolute;
    z-index: 2;
  }

  .down .drop-box {
    border-radius: 1rem;
  }

  .hero-head .first-hero > h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .first-hero .objective > p {
    text-align: center;
    font-size: 1.3rem;
  }

  header .hero-head > .first-hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .first-hero .objective > .apply-btn {
    padding: 0.8rem 3rem;
  }

  header .hero-head {
    gap: 2rem;
  }

  .hero-head .text-slider > h1 {
    font-size: 4rem;
  }

  main #about {
    background-color: var(--color-back);
    padding: 3rem 2rem;
  }

  main #about > .grid-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 7rem;
  }

  #about .grid-box > .four {
    grid-row-start: 4;
  }

  main #area {
    padding: 3rem 2rem;
    gap: 1rem;
  }

  #area .advance-flex {
    flex-direction: column;
    gap: 2rem;
  }

  #area .advance-flex > .apply-btn {
    padding: 0.8rem 3rem;
    width: fit-content;
  }

  #area .career-flex {
    flex-wrap: wrap;
  }

  main #choose {
    padding: 3rem 2rem;
    background-color: var(--color-main);
    display: flex;
    flex-direction: column-reverse;
    align-items: unset;
    gap: 3rem;
  }

  main #testimonials {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    background-color: var(--color-sub);
    padding: 3rem 2rem;
  }

  #testimonials #testimonial-flex {
    display: flex;
    justify-content: unset;
    flex-direction: column;
    gap: 3rem;
  }

  .exclusive h2 {
    width: 100%;
  }

  .exclusive h2 {
    width: 100%;
  }

  .exclusive button {
    margin-top: 1rem;
  }

  .exclusive .move-icon {
    margin-top: 1rem;
  }

  #testimonials .contact > img {
    display: none;
  }

  #testimonials .contact {
    padding: 6rem 4rem 4rem;
  }

  .contact .contact-info > .rolls {
    position: absolute;
    top: -17%;
    width: 9rem;
    animation: rotate 10s linear infinite;
  }

  .contact .contact-info > h2 {
    width: 100%;
  }

  main #question {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
  }

  #question .faq-info {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    gap: 1rem;
  }

  #question .faq-info > h2 {
    text-align: left;
  }

  #question .question {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .question .quest-flex {
    width: 100%;
  }

  .question .quest-flex > img {
    width: 100%;
  }

  main #insight {
    background-color: var(--color-sub);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #insight .blog-head {
    display: flex;
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
    gap: 2rem;
  }

  .blog-head .more-btn {
    align-self: center;
  }

  .blog-read a > .details {
    justify-content: unset;
    flex-direction: column;
    gap: 1rem;
  }

  a .details > h3 {
    text-align: center;
    width: 100%;
  }

  footer {
    padding: 3rem 2rem;
  }

  footer .foot-flex {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 1rem;
  }

  footer .all-flex {
    flex-direction: column;
  }

  footer .all-flex > .news-flex {
    gap: 3rem;
  }

  footer .all-flex > img {
    width: 100%;
    height: auto;
  }

  .news-flex h2 {
    width: 100%;
    font-size: 1.9rem;
  }

  .news-flex .hyper-foot {
    position: unset;
    bottom: unset;
  }

  footer .last-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
